<!--@Copyright 2018 BŚ-->
<html lang="pl">
    <head>
            <link rel="Shortcut icon" href="/img/ico/testy-logiczne.ico" />
        <title>Tworzenie pytania</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <meta http-equiv="Content-Type", content="text/html; charset=utf-8">
        <script type='text/javascript' src="/js/pytanieClass.js"></script>
        <script type='text/javascript' src="/js/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="/js/cpytanie.js"></script>
    </head>
    <body>
        
        <div class="body" >
                <div class="titleC">Dodawanie pytania</div>
                <hr>
                <button class="button_to_do" style="margin-bottom:20px;" id="cancle1">Wstecz</button>
            <div id="contener ">
                    <button class="button_to_do" id="fast">Szybkie wprowadzanie danych</button>
            <textarea class="textareaEdit" id="pytanie" placeholder="Pytanie testu"></textarea>
            <button class="button_to_do" id="zmiana"style="margin-top:1vw;margin-bottom:1vw;">Zaznacz poprawną odpowiedz</button>
            <textarea class="inputedit "  id="p1" placeholder="Odpowiedz 1"></textarea>
            <textarea class="inputedit " id="p2" placeholder="Odpowiedz 2"></textarea>
            <textarea class="inputedit" id="p3" placeholder="Odpowiedz 3"></textarea>
            <textarea class="inputedit" id="p4" placeholder="Odpowiedz 4"></textarea>  
            <button class="button_to_do" id="save">Zapisz</button>
            <button class="button_to_do" id="cancle">Anuluj</button>
            
            <div style="clear:both"></div>
            
        </div>
        
        <div style="text-align:center;margin-top:20px;margin-bottom:20px;">&copy; Copyright 2018 BŚ</div>
        </div>
        <div class="fastBox disable">
        <textarea class="textareaEditfull" id="fastTekst" placeholder="Pytanie testu"></textarea>
        <button class="button_to_do" id="convert">Konwertuj</button>
        <button class="button_to_do" id="cancleFast">Anuluj</button>
        <div style="clear:both"></div>
    </div>
    </body>
</html>
