<!--@Copyright 2018 BŚ-->
<html lang="pl">
    <head>
            <link rel="Shortcut icon" href="/img/ico/testy-logiczne.ico" />
        <title>Tworzenie pytania</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <meta http-equiv="Content-Type", content="text/html; charset=utf-8">
        <script type='text/javascript' src="/js/pytanieClass.js"></script>
        <script type='text/javascript' src="/js/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="/js/cpytanie.js"></script>
    </head>
    <body>
        
        <div class="body" >
                <div class="nav">
                        <ol>
                            <li><a href="/admin">Strona główna</a></li>
                            <li><a href="#">Profil</a>
                                <ul>
                                    <li><a href="#">Profil</a></li>
                                    <li><a href="#">Ustawienia</a></li>
                                    <li><a href="#">Zmiana hasła</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Testy</a>
                                <ul>
                                    <li><a href="/testy">Wszystkie testy</a></li>
                                    <li><a href="/testy/tworzenie/test">Dodaj test</a></li>
                                    <li><a href="#">Rozpocznij test</a></li>
                                    <li><a href="#">Aktualne testy</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Klasy</a>
                                <ul>
                                    <li><a href="#">Wszystkie klasy</a></li>
                                    <li><a href="#">Dodaj klase</a></li>
                                    <li><a href="#">Archiwizuj klase</a></li>
                                    <li><a href="#">Wyniki Klas</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Archiwum</a>
                                <ul>
                                    <li><a href="#">Testy</a></li>
                                    <li><a href="#">Klasy</a></li>
                                    <li><a href="#">Uczniowie</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Ustawienia</a>
                                <ul>
                                    <li><a href="#">Platformy</a></li>
                                    <li><a href="#">Testów</a></li>
                                    <li><a href="#">Administratorzy</a></li>
                                    <li><a href="#">Strona ucznia</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Wyloguj</a></li>
                        </ol>
                    
                    </div>
                <div class="titleC" style="width:90%; margin:auto;">Dodawanie pytania
                        <hr>
                        <button class="button_to_do" style="margin-bottom:20px;" id="cancle1">Wstecz</button>
                </div>
                
            <div id="contener" style="width:90%; margin:auto;">
                    <button class="button_to_do" id="fast">Szybkie wprowadzanie danych</button>
            <textarea class="textareaEdit" id="pytanie" placeholder="Pytanie testu"></textarea>
            <button class="button_to_do" id="zmiana"style="margin-top:1vw;margin-bottom:1vw;">Zaznacz poprawną odpowiedz</button>
            <textarea class="inputedit "  id="p1" placeholder="Odpowiedz 1"></textarea>
            <textarea class="inputedit " id="p2" placeholder="Odpowiedz 2"></textarea>
            <textarea class="inputedit" id="p3" placeholder="Odpowiedz 3"></textarea>
            <textarea class="inputedit" id="p4" placeholder="Odpowiedz 4"></textarea>  
            <button class="button_to_do" id="save">Zapisz</button>
            <button class="button_to_do" id="cancle">Anuluj</button>
            
            <div style="clear:both"></div>
            
        </div>
        
        <div style="text-align:center;margin-top:20px;margin-bottom:20px;">&copy; Copyright 2018 BŚ</div>
        </div>
        <div class="fastBox disable">
        <textarea class="textareaEditfull" id="fastTekst" placeholder="Pytanie testu"></textarea>
        <button class="button_to_do" id="convert">Konwertuj</button>
        <button class="button_to_do" id="cancleFast">Anuluj</button>
        <div style="clear:both"></div>
    </div>
    </body>
    <script>

            $(document).ready(function() {
            var NavY = $('.nav').offset().top;
             
            var stickyNav = function(){
            var ScrollY = $(window).scrollTop();
                  
            if (ScrollY > NavY) { 
                $('.nav').addClass('sticky');
            } else {
                $('.nav').removeClass('sticky'); 
            }
            };
             
            stickyNav();
             
            $(window).scroll(function() {
                stickyNav();
            });
            });
            
        </script>
</html>
