<!--@Copyright 2018 BŚ-->
<html lang="pl">
    <head>
        <title>Error</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <meta http-equiv="Content-Type", content="text/html; charset=utf-8">
    </head>
    <body>
        <div class="error_body">
            <img src="/img/error.png"  height="500px;" width="500px;">
            <br>Wystąpił błąd!
        </div>
        <div style="text-align:center;margin-top:20px;margin-bottom:20px;">&copy; Copyright 2018 BŚ</div>
    </body>
    </html>