<html lang="pl">
    <head>
        <link rel="Shortcut icon" href="/img/ico/testy-logiczne.ico" />
        <title>Widok ucznia</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <meta http-equiv="Content-Type", content="text/html; charset=utf-8">
        <script type='text/javascript' src="/js/jquery-2.0.3.min.js"></script>
    </head>
    <body>
        <div class="body">
                <div class="body_logowania">
                    <form action="" method="POST">
                        <div>Logowanie Administrator</div>
                        <input type="text" placeholder="Login" name="login">
                        <input type="password" placeholder="Hasło" name="pass">
                        <input type="submit" value="Zaloguj">
                    </form>

                </div>
            <div style="text-align:center;margin-top:20px;margin-bottom:20px;">&copy; Copyright 2018 BŚ</div>  
        </div>
  
 <div class="background disable" ><div class="lds-ring"><div></div><div></div><div></div><div></div></div>
        <div  class="backgroundTekst">Wczytywanie danych</div>
    </div>   
</body>
</html>