<!--Copyright 2018 BŚ-->
<html lang="pl">
    <head>
            <link rel="Shortcut icon" href="/img/ico/testy-logiczne.ico" />
        <title>Widok Testu</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <meta http-equiv="Content-Type", content="text/html; charset=utf-8">
        <script type="text/javascript" src="/js/pytanieClass.js"></script>
        <script type='text/javascript' src="/js/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="/js/showTest.js"></script>
    </head>
    <body>
        
        <div class="body disable" >
            <div style="width:100%;text-align:center;">
                <span class="heder" >Test: <span id="temat">temat</span>&nbsp;</span>
                <span class="heder" >Data utworzenia: <span id="dataU"></span>&nbsp;&nbsp;</span>
                <span class="heder" >Klasa: <span id="klasU"></span></span>
                <hr>
                <button class="button_to_do">Edytuj</button>
                <button class="button_to_do">Rozpocznij test</button>
                <button class="button_to_do">Wyniki testu</button>
                <div style="clear:both"></div>
                <hr>
            </div>
            <div id="contener">
                
            
        </div>
        
        <div style="text-align:center;margin-top:20px;margin-bottom:20px;">&copy; Copyright 2018 BŚ</div>
        </div>
        <div class="background " ><div class="lds-ring"><div></div><div></div><div></div><div></div></div>
        <div  class="backgroundTekst">Wczytywanie danych</div>
    </div>
    
    </body>
</html>