<html lang="pl">
    <head>
        <link rel="Shortcut icon" href="/img/ico/testy-logiczne.ico" />
        <title>Klasa</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <meta http-equiv="Content-Type", content="text/html; charset=utf-8">
        <script type='text/javascript' src="/js/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="/js/klasy/widokKlasy.js"></script>
    </head>
    <body>
        <div class="body disable">
                <div class="nav">
                        <ol>
                            <li><a href="/admin">Strona główna</a></li>
                            <li><a href="#">Profil</a>
                                <ul>
                                    <li><a href="#">Profil</a></li>
                                    <li><a href="#">Ustawienia</a></li>
                                    <li><a href="#">Zmiana hasła</a></li>
                                </ul>
                            </li>
                            <li><a href="/testy">Testy</a>
                                <ul>
                                    
                                    <li><a href="/testy/tworzenie/test">Dodaj test</a></li>
                                    <li><a href="#">Rozpocznij test</a></li>
                                    <li><a href="#">Aktualne testy</a></li>
                                </ul>
                            </li>
                            <li><a href="/klasa">Klasy</a>
                                <ul>
                                    
                                    <li><a href="/klasa/dodaj/klasa">Dodaj klase</a></li>
                                    <li><a href="#">Archiwizuj klase</a></li>
                                    <li><a href="#">Wyniki Klas</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Archiwum</a>
                                <ul>
                                    <li><a href="#">Testy</a></li>
                                    <li><a href="#">Klasy</a></li>
                                    <li><a href="#">Uczniowie</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Ustawienia</a>
                                <ul>
                                    <li><a href="#">Platformy</a></li>
                                    <li><a href="#">Testów</a></li>
                                    <li><a href="#">Administratorzy</a></li>
                                    <li><a href="#">Strona ucznia</a></li>
                                </ul>
                            </li>
                            <li><a href="/wyloguj/admin">Wyloguj</a></li>
                        </ol>
                    
                    </div>
            <div class="cTest">
                <div class="titleC">Widok klasy:  &quot;<span id="nazwaKlasy"></span>&quot; | Ilość uczniów: <span id="iloscUczniow"></span></div>
                <hr>
                <div class="content">
                        <button id="addUczen" class="button_to_do">Dodaj ucznia</button>
                        <button id="to_check" class="button_to_do">Wyniki z testów</button>
                        <button id="to_check" class="button_to_do">Rozpocznij test</button>
                        <button id="to_check" class="button_to_do">Archiwizuj</button>
                    <div style="font-size:40px; text-align:center;">Uczniowie w klasie</div>
                    <table style="width:100%; background-color: #C3D1A3;" border="solid" padding="5px;">
                        
                        <thead style="text-align:center;">
                            <tr>
                                <td style="width:1%;">Lp.</td>
                                <td style="width:25%;">Imie i Nazwisko Ucznia</td>
                                <td style="width:8%;">Ilość testów</td>
                                <td style="width:20%;" colspan="2" style="text-align:center;">Opcje</td>
                            </tr>
                        </thead>
                        <tbody id="testTable">
                        </tbody>
                    </table>
                </div>
            </div>
            <div style="text-align:center;margin-top:20px;margin-bottom:20px;">&copy; Copyright 2018 BŚ</div>  
        </div>
  
 <div class="background " ><div class="lds-ring"><div></div><div></div><div></div><div></div></div>
        <div  class="backgroundTekst">Wczytywanie danych</div>
    </div>   
</body>
<script>

        $(document).ready(function() {
        var NavY = $('.nav').offset().top;
         
        var stickyNav = function(){
        var ScrollY = $(window).scrollTop();
              
        if (ScrollY > NavY) { 
            $('.nav').addClass('sticky');
        } else {
            $('.nav').removeClass('sticky'); 
        }
        };
         
        stickyNav();
         
        $(window).scroll(function() {
            stickyNav();
        });
        });
        
    </script>
</html>